.todo-list-item {
    display: flex;
    flex-direction: row;

    input[type=text] {
        display: none;
        flex: 1;
        margin-left: 0.5rem;
    }

    .title {
        display: block;
        flex: 1;
        margin-left: 0.5rem;
    }

    &.editing {
        span.title {
            display: none;
        }

        input[type=text] {
            display: block;
        }

    }

    &.complete {
        .title {
            text-decoration: line-through;
            color: greenyellow;
        }
    }

}