.todo-list-item {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;
    background: rgb(239, 239, 239);
    border: 1px solid #ccc;

    input[type=text] {
        display: none;
        flex: 1;
        margin-left: 0.5rem;
    }

    .title {
        display: block;
        flex: 1;
        margin-left: 0.5rem;
    }

    .close {
        display: none;
    }

    &.editing {

        .edit {
            display: none;
        }

        .close {
            display: inline-block;
        }
        span.title {
            display: none !important;
        }

        input[type=text] {
            display: block !important;
        }

    }

    &.complete {
        .title {
            text-decoration: line-through;
            color: green;
        }
    }

}